@using DA.Domain.Dtos
@{
    Layout = "_Layout";
}

@section scripts {

    <script>

        $(document).ready(function () {
            // Date range picker initialization
            $('.drng').daterangepicker({
                timePicker: true,
                timePicker24Hour: true,
                locale: {
                    format: 'DD.MM.YYYY',
                    separator: ' - ',
                    applyLabel: 'Tamam',
                    cancelLabel: 'İptal',
                    fromLabel: 'Başlangıç',
                    toLabel: 'Bitiş',
                    customRangeLabel: 'Özel Aralık',
                    weekLabel: 'Hf',
                    daysOfWeek: ['Pz', 'Pzt', 'Sal', 'Çrş', 'Prş', 'Cu', 'Cmt'],
                    monthNames: ['Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz', 'Tem', 'Ağu', 'Eyl', 'Eki', 'Kas', 'Ara'],
                    firstDay: 1
                },
                opens: 'right'
            });

            $('#DateRangeFilter').on('apply.daterangepicker', function (ev, picker) {
                var dateOfStart = picker.startDate.format('YYYY-MM-DD HH:mm');
                var dateOfEnd = picker.endDate.format('YYYY-MM-DD HH:mm');

                console.log('deneme');

                $.ajax({
                    type: "POST",
                    url: "/" + "OldPermissions/OldPermissionsWithFilter",
                    data: { startDate: dateOfStart, endDate: dateOfEnd },
                    success: function (response) {
                        // Handle the response here
                        $('body').html(response); // Render the returned HTML
                    }
                });
            });

        });
    </script>
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Eski İzin Raporları</h4>
        <hr />
        <div class="row mb-2">
            <label for="DateRangeFilter" class="col-sm-2 col-form-label pt-0 bold">Tarih Aralığı Seçiniz</label>
            <div class="col-lg-10 col-md-10 col-sm-7">
                <input type="text" id="DateRangeFilter" name="date-range" class="drng form-control" style="width: 100%;" />
            </div>
        </div>
        <hr />
        <div class="table-responsive">
            @Html.Partial("_List")
        </div>
    </div>
</div>

