@using DA.Domain.Dtos
@{
    Layout = "_Layout";
}

@section scripts {

    <script>
        $(document).ready(function () {
            var dateOfStart = '@Model.StartDate.ToString("yyyy-MM-ddTHH:mm")';
            var dateOfEnd = '@Model.EndDate.ToString("yyyy-MM-ddTHH:mm")';

            $('#DateOfStart').val(dateOfStart);
            $('#DateOfEnd').val(dateOfEnd);

            $("#Listing").click(function () {

                var dateOfStart = $('#DateOfStart').val();
                var dateOfEnd = $('#DateOfEnd').val();

                if (dateOfStart == null || dateOfStart == "") {
                    ShowErrorMessage("Lütfen başlama bitiş tarihlerini giriniz.");
                    return;
                }

                if (dateOfEnd == null || dateOfEnd == "") {
                    ShowErrorMessage("Lütfen başlama bitiş tarihlerini giriniz.");
                    return;
                }

                var startDate = new Date(dateOfStart);
                var endDate = new Date(dateOfEnd);

                if (endDate <= startDate) {
                    ShowErrorMessage("Lütfen başlama bitiş tarihlerini doğru giriniz.");
                    return;
                }


                $('#departureDateOfStart').val(dateOfStart);
                $('#departureDateOfEnd').val(dateOfEnd);

                $.ajax({
                    type: "POST",
                    url: "/" + "AllMissions/AllMissionsList",
                    data: { startDate: dateOfStart, endDate: dateOfEnd },
                    success: function (response) {
                        // Handle the response here
                        $('body').html(response); // Render the returned HTML
                    }
                });
            });

            $("#ExportExcel").click(function () {
                var dateOfStart = $('#DateOfStart').val();
                var dateOfEnd = $('#DateOfEnd').val();

                if (dateOfStart == null || dateOfStart == "") {
                    ShowErrorMessage("Lütfen başlama bitiş tarihlerini giriniz.");
                    return;
                }

                if (dateOfEnd == null || dateOfEnd == "") {
                    ShowErrorMessage("Lütfen başlama bitiş tarihlerini giriniz.");
                    return;
                }

                var startDate = new Date(dateOfStart);
                var endDate = new Date(dateOfEnd);

                if (endDate <= startDate) {
                    ShowErrorMessage("Lütfen başlama bitiş tarihlerini doğru giriniz.");
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "/" + "AllMissions/ExcelExport",
                    data: { startDate: dateOfStart, endDate: dateOfEnd },
                    success: function (response) {
                        eval(response);
                    }
                });
            });

        });
    </script>
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Tüm Departman Görevleri</h4>
        <hr />
        <div class="row mb-2">
            <div class="col-md-4 row">
                <label for="DateRangeFilter" class="col-sm-4 col-form-label pt-0 bold">Başlama Tarihi</label>
                <div class="col-lg-8 col-md-8 col-sm-7">
                    <input type="datetime-local" id="DateOfStart" class="form-control" style="width: 100%;" />
                </div>
            </div>
            <div class="col-4 row">
                <label for="DateRangeFilter" class="col-sm-4 col-form-label pt-0 bold">Bitiş Tarihi</label>
                <div class="col-lg-8 col-md-8 col-sm-7">
                    <input type="datetime-local" id="DateOfEnd" class="form-control" style="width: 100%;" />
                </div>
            </div>
            <div class="col-2">
                <button id="Listing" class="btn btn-primary mb-4">Listele</button>
            </div>
            <div class="col-2">
                <button id="ExportExcel" class="btn btn-success mb-4">Excel Çıktısı Al</button>
            </div>

        </div>
        
        <div class="table-responsive">
            @Html.Partial("_List")
        </div>
    </div>
</div>

@Html.Partial("_DetailModal")
