<div class="container">
    <div class="modal fade" id="ModalFamilyMember" role="dialog" aria-labelledby="myModalLabel">

        <div class="modal-dialog modal-lg modal-simple w-75">
            <div class="modal-content p0 border-0">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white">
                        <label id="Label_Baslik" class="font-weight-bold">Yeni Aile Üyesi Ekle</label>
                    </h4>
                    <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form action="FamilyMember/Save">
                        <input type="hidden" name="Id" />
                        <div class="row mb-2">
                            <label for="NameSurname" class="col-sm-2 col-form-label pt-0">Ad Soyad</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="NameSurname" name="NameSurname" class="form-control" maxlength="70" placeholder="Ad Soyad" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="NationalIdentityNumber" class="col-sm-2 col-form-label pt-0">T.C. Kimlik No</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="NationalIdentityNumber" name="NationalIdentityNumber" class="form-control" maxlength="11" placeholder="T.C. Kimlik No" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="DateOfBirth" class="col-sm-2 col-form-label pt-0">Doğum Tarihi</label>
                            <div class="col-lg-10 col-md-10 col-sm-5">
                                <input type="date" id="DateOfBirth" name="DateOfBirth" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="RelationType" class="col-sm-2 col-form-label pt-0">Yakınlık Türü</label>
                            <div class="col-lg-10 col-md-10 col-sm-5">
                                <select id="RelationType" name="RelationType" class="form-control select2" style="width: 100%">
                                    <option value="0">Seçiniz...</option>
                                    <option value="1">Eş</option>
                                    <option value="2">Çocuk</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2" id="ForPartner" style="display:none;">
                            <div class="col-6 row">
                                <label for="IsWorking" class="col-sm-5 col-form-label pt-0">Çalışıyor mu?</label>
                                <div class="col-lg-7 col-md-7 col-sm-11">
                                    <input type="checkbox" id="IsWorking" name="IsWorking" />
                                </div>
                            </div>
                            <div class="col-6 row">
                                <label for="HasIncome" class="col-sm-5 col-form-label pt-0">Geliri Var mı?</label>
                                <div class="col-lg-7 col-md-7 col-sm-11">
                                    <input type="checkbox" id="HasIncome" name="HasIncome" />
                                </div>
                            </div>

                        </div>
                        <div id="ForChild" style="display:none;">
                            <div class="row mb-2">
                                <label for="Gender" class="col-sm-2 col-form-label pt-0">Cinsiyet</label>
                                <div class="col-lg-10 col-md-10 col-sm-5">
                                    <select id="Gender" name="Gender" class="form-control select2" style="width: 100%">
                                        <option value="0">Seçiniz...</option>
                                        <option value="1">Erkek</option>
                                        <option value="2">Kadın</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="ChildState" class="col-sm-2 col-form-label pt-0">Çocuğun Durumu</label>
                                <div class="col-lg-10 col-md-10 col-sm-5">
                                    <select id="ChildState" name="ChildState" class="form-control select2" style="width: 100%">
                                        <option value="0">Seçiniz...</option>
                                        <option value="1">Öz</option>
                                        <option value="2">Üvey</option>
                                        <option value="3">Evlatlık</option>
                                        <option value="4">Nafakası Sağlanılan Çocuk</option>
                                        <option value="5">Ana Babasını Kaybetmiş</option>
                                        <option value="6">Torun</option>

                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="FatherName" class="col-sm-2 col-form-label pt-0">Baba Adı</label>
                                <div class="col-lg-10 col-md-10 col-sm-11">
                                    <input id="FatherName" name="FatherName" class="form-control" maxlength="200" placeholder="Baba Adı" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="MotherName" class="col-sm-2 col-form-label pt-0">Anne Adı</label>
                                <div class="col-lg-10 col-md-10 col-sm-11">
                                    <input id="MotherName" name="MotherName" class="form-control" maxlength="200" placeholder="Anne Adı" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="IsInEducation" class="col-sm-2 col-form-label pt-0">Eğitim Görüyor mu?</label>
                                <div class="col-lg-10 col-md-10 col-sm-11">
                                    <input type="checkbox" id="IsInEducation" name="IsInEducation" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="DateOfStart" class="col-sm-2 col-form-label pt-0">Kayıt Tarihi</label>
                                <div class="col-lg-4 col-md-4 col-sm-5">
                                    <input type="date" id="DateOfStart" name="DateOfStart" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="SchoolName" class="col-sm-2 col-form-label pt-0">Okul Adı</label>
                                <div class="col-lg-10 col-md-10 col-sm-11">
                                    <input id="SchoolName" name="SchoolName" class="form-control" maxlength="200" placeholder="Okul Adı" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="Class" class="col-sm-2 col-form-label pt-0">Sınıf</label>
                                <div class="col-lg-10 col-md-10 col-sm-11">
                                    <input id="Class" name="Class" class="form-control" maxlength="100" placeholder="Sınıf" />
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="Description" class="col-sm-2 col-form-label pt-0">Açıklama</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <textarea id="Description" name="Description" class="form-control" maxlength="50" placeholder="Açıklama (Yakınlık Türü 'Eş' seçilmişse Geliri ile ilgili Açıklama yazın.)"></textarea>
                            </div>
                        </div>
                        <hr />
                        <div class="row fr" style="flex-wrap: nowrap;">
                            <label class="col-sm-2 col-form-label pt-0">&nbsp;</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Güncelle Modalı -->
<div class="container">
    <div class="modal fade" id="ModalUpdateFamilyMember" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg modal-simple w-75">
            <div class="modal-content p0 border-0">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white">
                        <label id="Title" class="font-weight-bold">Aile Üyesi Bilgisi Güncelle</label>
                    </h4>
                    <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form action="FamilyMember/Update">
                        <input type="hidden" id="uId" name="Id" />
                        <div class="row mb-2">
                            <label for="uNameSurname" class="col-sm-2 col-form-label pt-0">Ad Soyad</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="uNameSurname" name="NameSurname" class="form-control" maxlength="70" placeholder="Ad Soyad" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="uNationalIdentityNumber" class="col-sm-2 col-form-label pt-0">TC Kimlik No</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="uNationalIdentityNumber" name="NationalIdentityNumber" class="form-control" maxlength="11" placeholder="TC Kimlik No" />
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label for="uDateOfBirth" class="col-sm-2 col-form-label pt-0">Doğum Tarihi</label>
                            <div class="col-lg-4 col-md-4 col-sm-5">
                                <input type="date" id="uDateOfBirth" name="DateOfBirth" class="form-control" />
                            </div>
                        </div>

                        <div class="row mb-2" id="uForPartner" style="display:none;">
                            <label for="uIsWorking" class="col-sm-2 col-form-label pt-0">Çalışıyor mu?</label>
                            <div class="col-lg-4 col-md-4 col-sm-5">
                                <input type="checkbox" id="uIsWorking" name="IsWorking" />
                            </div>
                            <label for="uHasIncome" class="col-sm-2 col-form-label pt-0">Gelir Durumu</label>
                            <div class="col-lg-4 col-md-4 col-sm-5">
                                <input type="checkbox" id="uHasIncome" name="HasIncome" />
                            </div>
                        </div>

                        <div id="uForChild" style="display:none;">
                            <div class="row mb-2">
                                <label for="uGender" class="col-sm-2 col-form-label pt-0">Cinsiyet</label>
                                <div class="col-lg-10 col-md-10 col-sm-5">
                                    <select id="uGender" name="Gender" class="form-control select2" style="width: 100%;">
                                        <option value="">Seçiniz...</option>
                                        <option value="1">Erkek</option>
                                        <option value="2">Kadın</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="uChildState" class="col-sm-2 col-form-label pt-0">Çocuğun Durumu</label>
                                <div class="col-lg-10 col-md-10 col-sm-5">
                                    <select id="uChildState" name="ChildState" class="form-control select2" style="width: 100%">
                                        <option value="0">Seçiniz...</option>
                                        <option value="1">Öz</option>
                                        <option value="2">Üvey</option>
                                        <option value="3">Evlatlık</option>
                                        <option value="4">Nafakası Sağlanılan Çocuk</option>
                                        <option value="5">Ana Babasını Kaybetmiş</option>
                                        <option value="6">Torun</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="uFatherName" class="col-sm-2 col-form-label pt-0">Baba Adı</label>
                                <div class="col-lg-10 col-md-10 col-sm-11">
                                    <input id="uFatherName" name="FatherName" class="form-control" maxlength="200" placeholder="Baba Adı" />
                                </div>
                            </div>

                            <div class="row mb-2">
                                <label for="uMotherName" class="col-sm-2 col-form-label pt-0">Anne Adı</label>
                                <div class="col-lg-10 col-md-10 col-sm-11">
                                    <input id="uMotherName" name="MotherName" class="form-control" maxlength="200" placeholder="Anne Adı" />
                                </div>
                            </div>

                            <div class="row mb-2">
                                <label for="uIsInEducation" class="col-sm-2 col-form-label pt-0">Eğitim Görüyor mu?</label>
                                <div class="col-lg-4 col-md-4 col-sm-5">
                                    <input type="checkbox" id="uIsInEducation" name="IsInEducation" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="uDateOfStart" class="col-sm-2 col-form-label pt-0">Kayıt Tarihi</label>
                                <div class="col-lg-10 col-md-10 col-sm-5">
                                    <input type="date" id="uDateOfStart" name="DateOfStart" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="uSchoolName" class="col-sm-2 col-form-label pt-0">Okul Adı</label>
                                <div class="col-lg-10 col-md-10 col-sm-11">
                                    <input id="uSchoolName" name="SchoolName" class="form-control" maxlength="200" placeholder="Okul Adı" />
                                </div>
                            </div>

                            <div class="row mb-2">
                                <label for="uClass" class="col-sm-2 col-form-label pt-0">Sınıf</label>
                                <div class="col-lg-10 col-md-10 col-sm-11">
                                    <input id="uClass" name="Class" class="form-control" maxlength="50" placeholder="Sınıf" />
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <label for="uDescription" class="col-sm-2 col-form-label pt-0">Açıklama</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <textarea id="uDescription" name="Description" class="form-control" maxlength="50" placeholder="Açıklama (Yakınlık Türü 'Eş' seçilmişse Geliri ile ilgili Açıklama yazın.)"></textarea>
                            </div>
                        </div>
                        <hr />
                        <div class="row fr" style="flex-wrap: nowrap;">
                            <label class="col-sm-2 col-form-label pt-0">&nbsp;</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
