@using DA.Domain.Dtos
@{
    Layout = "_Layout";
}

@section scripts {
    <script>
        $('#NewFamilyMember').on('click', function () {
            $('#ModalFamilyMember').modal('show');
        });

        $('#NewFamilyMember').on('click', function () {
            $('#ModalFamilyMember').modal('show');
        });

        $('#RelationType').on('change', function () {

            if ($(this).val() == "1") {
                $("#ForPartner").show();
                $("#ForChild").hide();

                $("#FatherName").val() = "";
                $("#MotherName").val() = "";
                $('#IsInEducation').prop('checked', false);
                $("#SchoolName").val() = "";
                $("#Class").val() = "";

            } else if ($(this).val() == "2") {
                $("#ForPartner").hide();
                $("#ForChild").show();

                $('#IsWorking').prop('checked', false);
                $('#HasIncome').prop('checked', false);

            } else {
                $("#ForPartner").hide();
                $("#ForChild").hide();
            }

        });

        $('#uRelationType').on('change', function () {

            if ($(this).val() == "1") {
                $("#uForPartner").show();
                $("#uForChild").hide();

            } else if ($(this).val() == "2") {
                $("#uForPartner").hide();
                $("#uForChild").show();

            } else {
                $("#uForPartner").hide();
                $("#uForChild").hide();
            }

        });


    </script>
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Ailem</h4>
        <hr />
        <button id="NewFamilyMember" class="btn btn-primary mb-4">Yeni Aile Bilgisi Ekle</button>
        <div class="table-responsive">
            @Html.Partial("_List")
        </div>
    </div>
</div>

@Html.Partial("_SaveModal")
