<div class="container">
    <div class="modal fade" id="ModalDetailPermission" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg modal-simple w-75">
            <div class="modal-content p0 border-0">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white">
                        <label id="Title" class="font-weight-bold">İzin Detayları</label>
                    </h4>
                    <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">İzin Nedeni:</div>
                        <div class="col-sm-8" id="sPermissionReason"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Mazaret İzni:</div>
                        <div class="col-sm-8" id="sExcusedLeave"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">İzin Adresi:</div>
                        <div class="col-sm-8" id="sPermissionAddress"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">İzin Başlangıç Tarihi:</div>
                        <div class="col-sm-8" id="sStartDate"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">İşe Başlama Tarihi:</div>
                        <div class="col-sm-8" id="sEndDate"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Açıklama:</div>
                        <div class="col-sm-8" id="sDescription"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Çalışan:</div>
                        <div class="col-sm-8" id="sEmployee"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Vekil:</div>
                        <div class="col-sm-8" id="sProxy"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Bölüm:</div>
                        <div class="col-sm-8" id="sDepartment"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Yetkili:</div>
                        <div class="col-sm-8" id="sDelegate"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Durum:</div>
                        <div class="col-sm-8" id="sState"></div>
                    </div>
                    <br />
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Red Sebebi(varsa):</div>
                        <div class="col-sm-8" id="sRejectReason"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
