@using DA.Domain.Dtos
@{
    Layout = "_Layout";
}

@section scripts {

    <script>

        $('#NewPermission').on('click', function () {
            $('#ModalPermission').modal('show');
        });

        $('#ModalPermission').on('show.bs.modal', function () {
            // Formu resetlemek için
            $(this).find('form')[0].reset();
            // Select2 dropdownları sıfırlamak için
            $(this).find('select.select2').val('0').trigger('change');
        });

        $('input[type=radio][name=PermissionType]').change(function () {
            if (this.value == 'Normal') {
                $('#PermissionReason').prop('disabled', false);
                $('#PermissionReason').val('');
                $('#Div_ExcusedLeave').css('display', 'none');
                $('#ExcusedLeave').val('');
                $('#ExcusedLeaveSelect').val('0').trigger('change');
            }
            else if (this.value == 'Yearly') {
                $('#PermissionReason').prop('disabled', true);
                $('#Div_ExcusedLeave').css('display', 'none');
                $('#PermissionReason').val('');
                $('#ExcusedLeave').val('');
                $('#ExcusedLeaveSelect').val('0').trigger('change');
            }
            else if (this.value == 'Excused') {
                $('#PermissionReason').prop('disabled', true);
                $('#Div_ExcusedLeave').css('display', '');
                $('#PermissionReason').val('');
                $('#ExcusedLeave').val('');
                $('#ExcusedLeaveSelect').val('0').trigger('change');
            }
        });

        $('input[type=radio][name=PermissionType]').change(function () {
            if (this.value == 'Normal') {
                $('#uPermissionReason').prop('disabled', false);
                $('#uPermissionReason').val('');
                $('#uDiv_ExcusedLeave').css('display', 'none');
                $('#uExcusedLeave').val('');
                $('#uExcusedLeaveSelect').val('0').trigger('change');
            }
            else if (this.value == 'Yearly') {
                $('#uPermissionReason').prop('disabled', true);
                $('#uDiv_ExcusedLeave').css('display', 'none');
                $('#uPermissionReason').val('');
                $('#uExcusedLeave').val('');
                $('#uExcusedLeaveSelect').val('0').trigger('change');
            }
            else if (this.value == 'Excused') {
                $('#uPermissionReason').prop('disabled', true);
                $('#uDiv_ExcusedLeave').css('display', '');
                $('#uPermissionReason').val('');
                $('#uExcusedLeave').val('');
                $('#uExcusedLeaveSelect').val('0').trigger('change');
            }
        });

        $('#ExcusedLeaveSelect').on('change', function () {
            var selectedText = $('#ExcusedLeaveSelect option:selected').text().trim();
            $('#ExcusedLeave').val(selectedText);
        });

        $('#uExcusedLeaveSelect').on('change', function () {
            var selectedText = $('#uExcusedLeaveSelect option:selected').text().trim();
            $('#uExcusedLeave').val(selectedText);
        });

        $('#Addresses').on('change', function () {
            var selectedText = $(this).val();
            $('#PermissionAddress').val(selectedText);
        });

        $('#uAddresses').on('change', function () {
            var selectedText = $(this).val();
            $('#uPermissionAddress').val(selectedText);
        });


    </script>
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">İzinlerim</h4>
        <hr />
        <button id="NewPermission" class="btn btn-primary mb-4">Yeni İzin Ekle</button>
        <div class="table-responsive">
            @Html.Partial("_List")
        </div>
    </div>
</div>

@Html.Partial("_SaveModal")
@Html.Partial("_DetailModal")
