<div class="container">
    <div class="modal fade" id="ModalDetailMission" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg modal-simple w-75">
            <div class="modal-content p0 border-0">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white">
                        <label id="Title" class="font-weight-bold">Görev Detayları</label>
                    </h4>
                    <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Çalışan:</div>
                        <div class="col-sm-8" id="sEmployee"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Vekil:</div>
                        <div class="col-sm-8" id="sProxy"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Görev Tipi:</div>
                        <div class="col-sm-8" id="sMissionType"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Yer:</div>
                        <div class="col-sm-8" id="sArea"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Konu:</div>
                        <div class="col-sm-8" id="sSubject"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Avans Talebi:</div>
                        <div class="col-sm-8" id="sIsAdvanceRequested"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Avans Miktarı:</div>
                        <div class="col-sm-8" id="sAdvanceAmount"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Notlar:</div>
                        <div class="col-sm-8" id="sNotes"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Başlangıç Tarihi:</div>
                        <div class="col-sm-8" id="sDateOfStart"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Bitiş Tarihi:</div>
                        <div class="col-sm-8" id="sDateOfEnd"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Gidiş Aracı:</div>
                        <div class="col-sm-8" id="sDepartureVehicle"></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4 font-weight-bold">Dönüş Aracı:</div>
                        <div class="col-sm-8" id="sReturnVehicle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
