@using DA.Components.System
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<style>
    .brand-logo {
        text-align: center;
    }

    .center-img {
        display: block;
        margin: 0 auto;
    }
</style>

<title>@Constants.ProjectFullName</title>
<link href="~/css/page/general.css" rel="stylesheet" />
<link rel="stylesheet" href="~/vendors/feather/feather.css">
<link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
<link href="~/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />

<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" type="text/css" href="~/js/select.dataTables.min.css">
<link href="~/vendors/sweetalert2/sweetalert2.css" rel="stylesheet" />
<link href="~/vendors/select2/select2.min.css" rel="stylesheet" />
<link href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" rel="stylesheet" />
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="css/vertical-layout-light/style.css">
<link href="~/vendors/toastr/toastr.css" rel="stylesheet" />

<!-- endinject -->
<link rel="shortcut icon" href="images/LOGO/logo.jpeg" />

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src="images/LOGO/logo.jpeg" class="center-img" alt="logo">
                        </div>
                        <h4>@Constants.ProjectFullName Giriş Paneli</h4>
                        <h6 class="font-weight-light">Devam edebilmek için giriş yapın.</h6>
                        <form class="pt-3" action="SignIn">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" id="EMail" name="EMail" placeholder="Mail Adresi">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg" id="Password" name="Password" placeholder="Şifre">
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Giriş Yap</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script src="~/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="~/vendors/chart.js/Chart.min.js"></script>
<script src="~/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="~/js/dataTables.select.min.js"></script>
<script src="~/vendors/select2/select2.min.js"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="~/js/off-canvas.js"></script>
<script src="~/js/hoverable-collapse.js"></script>
<script src="~/js/template.js"></script>
<script src="~/js/settings.js"></script>
<script src="~/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="~/js/dashboard.js"></script>
<script src="~/js/Chart.roundedBarCharts.js"></script>
<script src="~/vendors/toastr/toastr.js"></script>
<script src="~/vendors/sweetalert2/sweetalert2.js"></script>
<script src="~/js/general.js"></script>