<!-- Ekle Modalı -->
<div class="container">
    <div class="modal fade" id="ModalApellation" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg modal-simple w-75">
            <div class="modal-content p0 border-0">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white">
                        <label id="Label_Baslik" class="font-weight-bold">Yeni Apellation Ekle</label>
                    </h4>
                    <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form action="Apellations/Save">
                        <input type="hidden" name="Id" />
                        <div class="row mb-2">
                            <label for="name" class="col-sm-2 col-form-label pt-0">Ünvan Adı</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="Name" name="Name" class="form-control" maxlength="50" placeholder="Ünvan Adı" />
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-2 fr">
                            <label class="col-sm-2 col-form-label pt-0">&nbsp;</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Güncelle Modalı -->
<div class="container">
    <div class="modal fade" id="ModalUpdateApellation" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg modal-simple w-75">
            <div class="modal-content p0 border-0">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white">
                        <label id="Title" class="font-weight-bold">Ünvan Güncelle</label>
                    </h4>
                    <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form action="Apellations/Update">
                        <input type="hidden" id="Id" name="Id" />
                        <div class="row mb-2">
                            <label for="name" class="col-sm-2 col-form-label pt-0">Ünvan Adı</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="uName" name="Name" class="form-control" maxlength="50" placeholder="Ünvan Adı" />
                            </div>
                        </div>
                        <hr />
                        <div class="row mb-2 fr">
                            <label class="col-sm-2 col-form-label pt-0">&nbsp;</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
