@using DA.Domain.Dtos
@model List<VehicleDto>

<!-- Ekle Modalı -->
<div class="container">
    <div class="modal fade" id="ModalVehicle" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg modal-simple w-75">
            <div class="modal-content p0 border-0">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white">
                        <label id="Label_Baslik" class="font-weight-bold">Yeni Araç Ekle</label>
                    </h4>
                    <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form action="Vehicle/Save">
                        <input type="hidden" name="Id" />
                        <div class="row mb-2">
                            <label for="Plate" class="col-sm-2 col-form-label pt-0">Plaka</label>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <input id="Plate" name="Plate" class="form-control" maxlength="50" placeholder="Plaka" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="Capacity" class="col-sm-2 col-form-label pt-0">Kapasite</label>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <input id="Capacity" type="number" name="Capacity" class="form-control"/>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="IsTemporary" class="col-sm-2 col-form-label pt-0">Geçici Mi?</label>
                            <div class="col-lg-4 col-md-4 col-sm-5">
                                <input type="checkbox" id="IsTemporary" name="IsTemporary" class="form-check-input" />
                            </div>
                            <label for="IsActive" class="col-sm-2 col-form-label pt-0">Aktif Mi?</label>
                            <div class="col-lg-4 col-md-4 col-sm-5">
                                <input type="checkbox" id="IsActive" name="IsActive" class="form-check-input" />
                            </div>
                        </div>
                        <hr />
                        <div class="row fr" style="flex-wrap: nowrap;">
                            <label class="col-sm-2 col-form-label pt-0">&nbsp;</label>
                            <di class="col-lg-10 col-md-10 col-sm-11">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Güncelle Modalı -->
<div class="container">
    <div class="modal fade" id="ModalUpdateVehicle" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg modal-simple w-75">
            <div class="modal-content p0 border-0">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white">
                        <label id="Label_Baslik" class="font-weight-bold">Yeni Mail Ekle</label>
                    </h4>
                    <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form action="Vehicle/Update">
                        <input type="hidden" id="uId" name="Id" />
                        <div class="row mb-2">
                            <label for="uPlate" class="col-sm-2 col-form-label pt-0">Plaka</label>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <input id="uPlate" name="Plate" class="form-control" maxlength="50" placeholder="Plaka" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="uCapacity" class="col-sm-2 col-form-label pt-0">Kapasite</label>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <input id="uCapacity" type="number" name="Capacity" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="uIsTemporary" class="col-sm-2 col-form-label pt-0">Geçici Mi?</label>
                            <div class="col-lg-4 col-md-4 col-sm-5">
                                <input type="checkbox" id="uIsTemporary" name="IsTemporary" class="form-check-input" />
                            </div>
                            <label for="uIsActive" class="col-sm-2 col-form-label pt-0">Aktif Mi?</label>
                            <div class="col-lg-4 col-md-4 col-sm-5">
                                <input type="checkbox" id="uIsActive" name="IsActive" class="form-check-input" />
                            </div>
                        </div>
                        <hr />
                        <div class="row fr" style="flex-wrap: nowrap;">
                            <label class="col-sm-2 col-form-label pt-0">&nbsp;</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>