@using DA.Domain.Dtos
@model List<AddressDto>

<!-- Ekle Modalı -->
<div class="container">
    <div class="modal fade" id="ModalAddress" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg modal-simple w-75">
            <div class="modal-content p0 border-0">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white">
                        <label id="Label_Baslik" class="font-weight-bold">Yeni Numara Ekle</label>
                    </h4>
                    <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form action="Addresses/Save">
                        <input type="hidden" name="Id" />
                        <div class="row mb-2">
                            <label for="AddressTitle" class="col-sm-2 col-form-label pt-0">Adres Başlığı</label>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <input id="AddressTitle" name="AddressTitle" class="form-control" maxlength="50" placeholder="Adres Başlığı" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="Address" class="col-sm-2 col-form-label pt-0">Adres</label>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <input id="FullAddress" name="FullAddress" class="form-control" maxlength="250" placeholder="Adres" />
                            </div>
                        </div>
                        <hr />
                        <div class="row fr" style="flex-wrap: nowrap;">
                            <label class="col-sm-2 col-form-label pt-0">&nbsp;</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Güncelle Modalı -->
<div class="container">
    <div class="modal fade" id="ModalUpdateAddress" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg modal-simple w-75">
            <div class="modal-content p0 border-0">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white">
                        <label id="Label_Baslik" class="font-weight-bold">Yeni Numara Ekle</label>
                    </h4>
                    <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form action="Addresses/Update">
                        <input type="hidden" id="uId" name="Id" />
                        <div class="row mb-2">
                            <label for="uAddressTitle" class="col-sm-2 col-form-label pt-0">Adres Başlığı</label>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <input id="uAddressTitle" name="AddressTitle" class="form-control" maxlength="50" placeholder="Adres Başlığı" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="uAddress" class="col-sm-2 col-form-label pt-0">Adres</label>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <input id="uFullAddress" name="FullAddress" class="form-control" maxlength="250" placeholder="Adres" />
                            </div>
                        </div>
                        <hr />
                        <div class="row fr" style="flex-wrap: nowrap;">
                            <label class="col-sm-2 col-form-label pt-0">&nbsp;</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>