@using DA.Domain.Dtos
@model List<AcademyInfoDto>

<!-- Ekle Modalı -->
<div class="container">
    <div class="modal fade" id="ModalAcademy" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg modal-simple w-75">
            <div class="modal-content p0 border-0">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white">
                        <label id="Label_Baslik" class="font-weight-bold">Yeni Akademi Bilgisi Ekle</label>
                    </h4>
                    <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form action="AcademyInfo/Save">
                        <input type="hidden" name="Id" />
                        <div class="row mb-2">
                            <label for="University" class="col-sm-2 col-form-label pt-0">Üniversite Adı</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="University" name="University" class="form-control" maxlength="200" placeholder="Üniversite Adı" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="Faculty" class="col-sm-2 col-form-label pt-0">Fakülte Adı</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="Faculty" name="Faculty" class="form-control" maxlength="200" placeholder="Fakülte Adı" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="Department" class="col-sm-2 col-form-label pt-0">Bölüm</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="Department" name="Department" class="form-control" maxlength="200" placeholder="Bölüm" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="AcademyType" class="col-sm-2 col-form-label pt-0">Akademi Türü</label>
                            <div class="col-lg-10 col-md-10 col-sm-5">
                                <select id="AcademyType" name="AcademyType" class="form-control select2" style="width: 100%">
                                    <option value="0">Seçiniz...</option>
                                    <option value="1">Lisans</option>
                                    <option value="2">Yüksek Lisans</option>
                                    <option value="3">Doktora</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="ThesisTopic" class="col-sm-2 col-form-label pt-0">Tez Konusu</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="ThesisTopic" name="ThesisTopic" class="form-control" maxlength="200" placeholder="Tez Konusu" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="StartDate" class="col-sm-2 col-form-label pt-0">Başlangıç Tarihi</label>
                            <div class="col-lg-4 col-md-4 col-sm-5">
                                <input type="datetime-local" id="StartDate" name="StartDate" class="form-control" />
                            </div>
                            <label for="EndDate" class="col-sm-2 col-form-label pt-0">Bitiş Tarihi</label>
                            <div class="col-lg-4 col-md-4 col-sm-5">
                                <input type="datetime-local" id="EndDate" name="EndDate" class="form-control" />
                            </div>
                        </div>
                        <hr />
                        <div class="row fr" style="flex-wrap: nowrap;">
                            <label class="col-sm-2 col-form-label pt-0">&nbsp;</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Güncelle Modalı -->
<div class="container">
    <div class="modal fade" id="ModalUpdateAcademy" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg modal-simple w-75">
            <div class="modal-content p0 border-0">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white">
                        <label id="Label_Baslik" class="font-weight-bold">Yeni Akademi Bilgisi Ekle</label>
                    </h4>
                    <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form action="AcademyInfo/Update">
                        <input type="hidden" id="uId" name="Id" />
                        <div class="row mb-2">
                            <label for="uUniversity" class="col-sm-2 col-form-label pt-0">Üniversite Adı</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="uUniversity" name="University" class="form-control" maxlength="200" placeholder="Üniversite Adı" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="uFaculty" class="col-sm-2 col-form-label pt-0">Fakülte Adı</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="uFaculty" name="Faculty" class="form-control" maxlength="200" placeholder="Fakülte Adı" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="uDepartment" class="col-sm-2 col-form-label pt-0">Bölüm</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="uDepartment" name="Department" class="form-control" maxlength="200" placeholder="Bölüm" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="uAcademyType" class="col-sm-2 col-form-label pt-0">Akademi Türü</label>
                            <div class="col-lg-10 col-md-10 col-sm-5">
                                <select id="uAcademyType" name="AcademyType" class="form-control select2" style="width: 100%">
                                    <option value="0">Seçiniz...</option>
                                    <option value="1">Lisans</option>
                                    <option value="2">Yüksek Lisans</option>
                                    <option value="3">Doktora</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="uThesisTopic" class="col-sm-2 col-form-label pt-0">Tez Konusu</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <input id="uThesisTopic" name="ThesisTopic" class="form-control" maxlength="200" placeholder="Tez Konusu" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label for="uStartDate" class="col-sm-2 col-form-label pt-0">Başlangıç Tarihi</label>
                            <div class="col-lg-4 col-md-4 col-sm-5">
                                <input type="date" id="uStartDate" name="StartDate" class="form-control" />
                            </div>
                            <label for="uEndDate" class="col-sm-2 col-form-label pt-0">Bitiş Tarihi</label>
                            <div class="col-lg-4 col-md-4 col-sm-5">
                                <input type="date" id="uEndDate" name="EndDate" class="form-control" />
                            </div>
                        </div>
                        <hr />
                        <div class="row fr" style="flex-wrap: nowrap;">
                            <label class="col-sm-2 col-form-label pt-0">&nbsp;</label>
                            <div class="col-lg-10 col-md-10 col-sm-11">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>