@using DA.Components.System
@using DA.Models
@using Microsoft.AspNetCore.Http

@{
    LoginSessionModel loginnedEmployee = SessionHelper.GetEmployeeLoggingIn(Context);

    string userName = "";
    string userRole = "";
    string userPhoto = "";
    string pageTitle = Constants.ProjectShortName;

    if (loginnedEmployee != null)
    {
        userName = loginnedEmployee.UserName;
        userRole = loginnedEmployee.Role;
        userPhoto = loginnedEmployee.Photo;

        // Extract the last part of the URL path
        string urlPath = Context.Request.Path;
        string[] pathSegments = urlPath.Split('/');
        string lastSegment = pathSegments.LastOrDefault();
        if (!string.IsNullOrEmpty(lastSegment))
        {
            pageTitle += " - " + lastSegment;
        }
        else
        {
            pageTitle = Constants.ProjectFullName;
        }
    }
    else
    {
        Context.Response.Redirect("/");
    }
}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@pageTitle</title>
    <!-- plugins:css -->
    <link href="~/css/page/general.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link href="~/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />

    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/js/select.dataTables.min.css">
    <link href="~/vendors/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link href="~/vendors/select2/select2.min.css" rel="stylesheet" />
    <link href="~/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" rel="stylesheet" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/vertical-layout-light/style.css">
    <link href="~/vendors/toastr/toastr.css" rel="stylesheet" />
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/timepicker/jquery-timepicker/jquery-timepicker.css" rel="stylesheet" />

    <!-- endinject -->
    <link rel="shortcut icon" href="images/LOGO/logo.jpeg" />
</head>
<body>
    <div id="preloader">
        <div id="loader"></div>
    </div>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="/Anasayfa"><img src="images/LOGO/logo.jpeg" class="" alt="logo" width="75" height="120" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between row">
                <div class="col-3 d-flex justify-content-start">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="icon-menu"></span>
                    </button>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <label class="align-self-center bold fs18">@userName</label>
                </div>
                <div class="col-3 d-flex justify-content-end">
                    <ul class="navbar-nav navbar-nav-right fr">
                        <li class="nav-item dropdown">
                            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                                <i class="ti-settings mx-0"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                                <p class="mb-0 font-weight-normal float-left dropdown-header">İşlemler</p>
                                <a class="dropdown-item preview-item" href="/Profil">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-info">
                                            <i class="ti-settings mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">Profile Git</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item" href="/">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-danger">
                                            <i class="mdi mdi-exit-to-app mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">Çıkış Yap</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">

                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Anasayfa">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Ana Sayfa</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                            <i class="mdi mdi-fingerprint mdi-18px menu-icon"></i>
                            <span class="menu-title">Kişisel Bilgilerim </span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/Ailem">Aile Bilgilerim</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/Adreslerim">Adres Bilgilerim</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/EmailAdreslerim"> E-Posta Bilgilerim </a></li>
                                <li class="nav-item"> <a class="nav-link" href="/Numaralarim"> Telefon Bilgilerim </a></li>
                                <li class="nav-item"> <a class="nav-link" href="/AkademikBilgilerim"> Akademik Bilgilerim</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/DetayliCalisanBilgileri"> Özet Bilgilerim </a></li>
                            </ul>
                        </div>
                    </li>

                    @if (userRole == "SuperAdmin")
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#definitions" aria-expanded="false" aria-controls="definitions">
                                <i class="icon-layout menu-icon"></i>
                                <span class="menu-title">Tanımlamalar</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="definitions">
                                <ul class="nav flex-column sub-menu">
                                    @* <li class="nav-item"> <a class="nav-link" href="/Unvanlar">Ünvanlar</a></li> *@
                                    @* <li class="nav-item"> <a class="nav-link" href="/Sinavlar">Sınavlar</a></li> *@
                                    <li class="nav-item"> <a class="nav-link" href="/TatilGunleri">Tatil Günleri</a></li>
                                </ul>
                            </div>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#employee" aria-expanded="false" aria-controls="employee">
                            <i class="mdi mdi-account-group-outline mdi-18px menu-icon"></i>
                            <span class="menu-title">Personeller</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="employee">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/Personeller">Personeller</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/PersonelTakvimi">Personel Takvimi</a></li>
                                @if (userRole == "SuperAdmin")
                                {
                                    <li class="nav-item"> <a class="nav-link" href="/IstenCikanlar">İşten Çıkanlar</a></li>
                                   
                                }
                                
                            </ul>
                        </div>
                    </li>
                    @if (userRole == "SuperAdmin")
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#department" aria-expanded="false" aria-controls="department">
                                <i class="mdi mdi-file-tree mdi-18px menu-icon"></i>
                                <span class="menu-title">Birim İşlemleri</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="department">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/Birimler">Birimler</a></li>
                                </ul>
                            </div>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#permission" aria-expanded="false" aria-controls="permission">
                            <i class="mdi mdi-home-map-marker mdi-18px menu-icon"></i>
                            <span class="menu-title">İzin İşlemleri</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="permission">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/Izinlerim"> İzinlerim </a></li>
                                @if (userRole != "Employee")
                                {
                                    <li class="nav-item"> <a class="nav-link" href="/Izinler"> Birim İzinleri </a></li>
                                }
                                @if (userRole == "SuperAdmin")
                                {
                                    <li class="nav-item"> <a class="nav-link" href="/IzinRaporlari"> İzin Raporları </a></li>
                                }
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#missions" aria-expanded="false" aria-controls="missions">
                            <i class="mdi mdi-file-document-box mdi-18px menu-icon"></i>
                            <span class="menu-title">Görev İşlemleri</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="missions">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/Gorevlerim">Görevlerim</a></li>
                                @if (userRole != "Employee")
                                {
                                    <li class="nav-item"> <a class="nav-link" href="/TumGorevler">Birim Görevleri</a></li>
                                }
                                @if (userRole == "SuperAdmin")
                                {
                                    <li class="nav-item"> <a class="nav-link" href="/GorevRaporlari"> Görev Raporları </a></li>
                                }

                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#vehicle" aria-expanded="false" aria-controls="error">
                            <i class="mdi mdi-car mdi-18px menu-icon"></i>
                            <span class="menu-title">Araç İşlemleri</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="vehicle">
                            <ul class="nav flex-column sub-menu">

                                @if (userRole == "SuperAdmin")
                                {
                                    <li class="nav-item"> <a class="nav-link" href="/Araclar"> Araç Ekle </a></li>
                                }

                                <li class="nav-item"> <a class="nav-link" href="/AracTakvimi"> Araç Takvimi </a></li>

                                @if (userRole != "Employee")
                                {
                                    <li class="nav-item"> <a class="nav-link" href="/AracTalepleri">Tüm Araç Talepleri </a></li>
                                }

                                <li class="nav-item"> <a class="nav-link" href="/AracTaleplerim">Araç Taleplerim </a></li>
                            </ul>
                        </div>
                    </li>


                    @if (userRole == "SuperAdmin")
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#reports" aria-expanded="false" aria-controls="reports">
                                <i class="mdi mdi mdi-archive mdi-18px menu-icon"></i>
                                <span class="menu-title">Raporlar</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="reports">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/IzinRaporlari"> İzin Raporları </a></li>
                                    <li class="nav-item"> <a class="nav-link" href="/GorevRaporlari"> Görev Raporları </a></li>
                                    <li class="nav-item"> <a class="nav-link" href="/AracRaporlari"> Araç Raporları </a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#oldDatas" aria-expanded="false" aria-controls="oldDatas">
                                <i class="mdi mdi mdi-folder mdi-18px menu-icon"></i>
                                <span class="menu-title">Eski Veriler</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="oldDatas">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/EskiIzinler">Eski İzinler </a></li>
                                    <li class="nav-item"> <a class="nav-link" href="/EskiGorevler">Eski Görevler</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="/EskiCalisanlar">Eski Personeller</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="pr-0 mr-0 pl-2 pt-2 ml-0 w-100">
                        <main role="main" class="pb-0">
                            @RenderBody()
                        </main>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/vendors/chart.js/Chart.min.js"></script>
    <script src="~/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/js/dataTables.select.min.js"></script>
    <script src="~/vendors/select2/select2.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/Chart.roundedBarCharts.js"></script>
    <script src="~/vendors/toastr/toastr.js"></script>
    <script src="~/vendors/sweetalert2/sweetalert2.js"></script>
    <script src="~/js/general.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/daterangepicker.min.js"></script>
    <script src="~/timepicker/jquery-timepicker/jquery-timepicker.js"></script>

    <script>

        $(document).ready(function () {

            $('.select2').select2();

            $(document).on('select2:open', () => {
                document.querySelector('.select2-search__field').focus();
            });


            $('.dataTable').DataTable({
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json",
                    
                },
                ordering: true,      // Sıralamayı açık tut
                order: [],
                pageLength: 50,
            });

            $('i.mdi-table-edit').hover(function () {
                $(this).attr('title', 'Veriyi Güncelle');
            });

            $('i.mdi-delete').hover(function () {
                $(this).attr('title', 'Veriyi Sil');
            });

            $('i.mdi-fingerprint').hover(function () {
                $(this).attr('title', 'Özet Bilgilerim Sayfasında Görüntüle');
            });

            $('i.mdi-file').hover(function () {
                $(this).attr('title', 'Verinin Detaylı Bilgilerini Getir');
            });

            $('i.mdi-car').hover(function () {
                $(this).attr('title', 'Araç Seç');
            });

            $('i.mdi-printer').hover(function () {
                $(this).attr('title', 'Veriyi Yazdır');
            });


        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

